language: android
android:
  components:
    - build-tools-21.1.1
    - build-tools-22.0.1
    - tools
    - android-19
    - android-21
    - android-22
    - sys-img-armeabi-v7a-android-19
    - extra-android-support
    - extra-android-m2repository
  licenses:
    - 'android-sdk-license-.+'
before_script:
    - echo no | android create avd --force -n test -t android-19 --abi default/armeabi-v7a
    - emulator -avd test -no-skin -no-audio -no-window &
    - android-wait-for-emulator
script:
    # Release build type is only for Google Play store currently,
    # which resolve dependency from Maven Central.
    # This causes build errors while developing a new feature, so disable release build.
    - travis_retry ./gradlew --full-stacktrace assembleDevDebug connectedCheck
after_success:
    - ./gradlew :library:coveralls
