<?xml version="1.0" encoding="utf-8"?><!--
  Copyright 2014 Soichiro Kashima

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ksoichiro.android.observablescrollview.samples">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".ActionBarControlGridViewActivity"
            android:label="@string/title_activity_actionbarcontrolgridview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionBarControlListViewActivity"
            android:label="@string/title_activity_actionbarcontrollistview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionBarControlRecyclerViewActivity"
            android:label="@string/title_activity_actionbarcontrolrecyclerview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionBarControlScrollViewActivity"
            android:label="@string/title_activity_actionbarcontrolscrollview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionBarControlWebViewActivity"
            android:label="@string/title_activity_actionbarcontrolwebview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FlexibleSpaceToolbarScrollViewActivity"
            android:label="@string/title_activity_flexiblespacetoolbarscrollview"
            android:theme="@style/AppTheme.Toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParallaxToolbarScrollViewActivity"
            android:label="@string/title_activity_parallaxtoolbarscrollview"
            android:theme="@style/AppTheme.Toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolbarControlListViewActivity"
            android:label="@string/title_activity_toolbarcontrollistview"
            android:theme="@style/AppTheme.Toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolbarControlRecyclerViewActivity"
            android:label="@string/title_activity_toolbarcontrolrecyclerview"
            android:theme="@style/AppTheme.Toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolbarControlScrollViewActivity"
            android:label="@string/title_activity_toolbarcontrolscrollview"
            android:theme="@style/AppTheme.Toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolbarControlWebViewActivity"
            android:label="@string/title_activity_toolbarcontrolwebview"
            android:theme="@style/AppTheme.Toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.github.ksoichiro.android.observablescrollview.samples" />
            </intent-filter>
        </activity>
    </application>

</manifest>
